<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <array>
            <dict>
                <key>desc</key>
                <string></string>
                <key>title</key>
                <string>姓名</string>
            </dict>
            <dict>
                <key>desc</key>
                <string></string>
                <key>title</key>
                <string>身份证号码</string>
            </dict>
            <dict>
                <key>desc</key>
                <string></string>
                <key>title</key>
                <string>手机号码</string>
            </dict>
        </array>
        <array>
            <dict>
                <key>desc</key>
                <string></string>
                <key>title</key>
                <string>地市</string>
            </dict>
            <dict>
                <key>desc</key>
                <string></string>
                <key>title</key>
                <string>三级单元</string>
            </dict>
            <dict>
                <key>desc</key>
                <string></string>
                <key>title</key>
                <string>四级单元</string>
            </dict>
        </array>
        <array>
            <dict>
                <key>desc</key>
                <string></string>
                <key>title</key>
                <string>渠道</string>
            </dict>
            <dict>
                <key>desc</key>
                <string></string>
                <key>title</key>
                <string>甩单营业厅</string>
            </dict>
            <dict>
                <key>desc</key>
                <string></string>
                <key>title</key>
                <string>是否小队长</string>
            </dict>
        </array>
        <array>
            <dict>
                <key>desc</key>
                <string></string>
                <key>title</key>
                <string>3G发展人编码</string>
            </dict>
            <dict>
                <key>desc</key>
                <string></string>
                <key>title</key>
                <string>4G发展人编码</string>
            </dict>
        </array>

    </array>
</plist>
